@page
@model Snackis4.Pages.Admin.CategoryAdmin.DeleteModel
@{
}


<h4>Är du säker på att du vill ta bort den här kategorin?</h4>
<div>
    <hr />
    <dl class="table">
        <dt class="col-sm-2">
            Namn
        </dt>
        <dd class="col-sm-10">
            @Model.Category.Name
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Category.Id" />
        <input type="submit" value="Ta bort" class="btn btn-danger" /> |
        <a asp-page="./Index">Tillbaka till listan</a>
    </form>
</div>