@page
@model PrivacyModel
@{
    ViewData["Title"] = "Integritetspolicy";
}
<h1>@ViewData["Title"]</h1>

<p>Den här sidan använder <img src="/siteImages/cookie.png" alt="Cookie" style="max-width: 20px; max-height: 20px;" /> kakor samt sparar dina uppgifter så att du kan logga in igen och kan använda alla sidornas funktioner (inlägg, kommentarer, PM).</p>
